registry=http://nexus.app.syfbank.com:8081/repository/npm-group/
always-auth=true
loglevel=error
npm_config_allow_same_version=true
noproxy=nexus.app.syfbank.com

; update with `echo -n '<user>:<pass>' | openssl base64 | pbcopy`
_auth="U1ZDLUVjb20tVUktRGV2T3BzLWI6UDlqVSVSaGMybSlQZHc="
